.Item {
	height: auto;
	width: 200px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;

	text-align: center;

	h3 {
		margin-top: 10px;

		font-size: 1.2em;
	}

	p {
		display: block;
		margin-top: 6px;
		opacity: 0.8;
		
		font-size: 1em;
	}
}