.Item {
	height: 200px;

	text-align: center;

	h3 {
		margin-top: 10px;
		
		a {
			font-size: 1.2rem;
		}
	}

	a.desc {
		display: block;
		margin-top: 6px;
		opacity: 0.8;
		
		font-size: 1rem;
	}
}