#App {
	display: grid;

	grid-template-columns: 250px auto;
	grid-template-rows: repeat(4, 400px);

	#Sidebar {
		grid-column: 1/2;
		grid-row: 1/-1;
	}

	#Header {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	#About {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#Projects {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	#Footer {
		grid-column: 2/3;
		grid-row: 4/5;
	}
}

