@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;600&display=swap');

:root {
	--background-color-light: white;
	--background-color-light-alt: #e5e5e5;

	--background-color-dark: #2b2b2b;
	--background-color-dark-alt: #202020;

	--text-color-dark: #202020;
	--text-color-light: #dddddd;

	--background-color: var(--background-color-dark);
	--background-color-alt: var(--background-color-dark-alt);

	--text-color: var(--text-color-light);

	font-size: 14px;
	font-family: 'Public Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--background-color-light);
		--background-color-alt: var(--background-color-light-alt);

		--text-color: var(--text-color-dark);
	}
}

* {
	padding: 0px;
	margin: 0px;

	color: var(--text-color);
}

a {
	text-decoration: none;
}

.center {
	text-align: center;
}