#About .content{
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 200px;

	.properties {
		text-align: center;
		margin: auto;
	}

	.photo  {
		margin: auto;

		.wrapper {
			width: 180px;
			height: 180px;

			.image {
				width: 100%;
				padding-top: 100%;

				background-image: url("/images/photo.jpeg");
				background-size: 350px;

				border-radius: 50%;
			}
		}			
	}

	.story {
		margin: auto;

		p{
			width: 30ch;
			text-align: center;
		}
	}
} 
