@media (max-width: 900px) {
	#About .content {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;

		.photo {
			grid-row: 1/2;
		}

		.properties {
			grid-row: 2/3;
			
			margin-top: 30px;
		}

		.story {
			grid-row: 3/4;
		}
	}
}